@import url(../css/Admin.css);

.details .recentOrders{
    width: 150%;
    height: 130%;
}

.Title{
    font-family: var(--font-family);
    position: relative;
    display: block;
    padding: 0 10px;
    font-size: 60px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
  }