<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    <link rel="icon" href="./img/light-logo.png">
    <link rel="stylesheet" href="/css/Signup.css">
    <link rel="stylesheet" href="/css/AddProduct.css">
</head>
<body>
  <form action="/create" method="post">
    <img src="img/loader.gif" alt="" class="loader">
    <div class="alert-box">
        <img src="./img/error.png" class="alert-img" alt="">
        <p class="alert-msg">error message</p>
    </div>

    <img src="img/Logo.png" alt="" class="logo">
    <div class="form">
        <input type="text" name="product_name" id="product_name" placeholder="Nom du Produit"/>
        <input type="text" name="product_surname" id="product_surname" placeholder="Surnom"/>
        <input type="text" name="description" id="description" placeholder="description"/>

        

        <!-- product image-->
        <div class="product-info">
            <div class="product-image"><p class="text">product image</p></div>
            <div class="upload-image-sec">
                <!-- upload inputs-->
                <p class="text"><img src="img/camera.png" alt="">upload image</p>
                <div class="upload-catalouge">
                    <form action="/create" method="post" enctype="multipart/form-data">
                        <div>File: <input type="file" name="someExpressFiles" multiple="multiple" /></div>
                 
                      
                </div>
            </div>
            <div class="select-sizes">
                <p class="text">categories</p>
               
                <div class="sizes">
                           <% Categories.forEach(Categorie => { %>
                            
                    <input type="checkbox" class="size-checkbox" id="xs" value="<%= Categorie.category_name %>">
                    <% }) %>
                </div>
                
            </div>
        </div>
        
        <input type="number" name="quantity" id="quantity" placeholder="quantity"/>
        <input type="text" name="country" id="country" placeholder="country"/>
        <input type="number" name="price" id="price" placeholder="price"/>
       

        <div class="buttons">
            <button type="submit" class="btn">add product</button>
            <button class="btn" id="save-btn">save draft</button>
        </div>
    </div>
</form>
<script src="js/token.js"></script>
<script src="js/AddProduct.js"></script>


</body>
</html>